DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/nombre_db
HOME_DEPOT_API_URL=https://www.homedepot.com.mx/search/resources/api/v2/products?offset=0&limit=28&marketId=290&stLocId=12526&physicalStoreId=8774&orderBy=5&storeId=10351&catalogId=10101&profileName=HCL_V2_findProductsByCategoryWithPriceRangeSequenceTest&langId=-5&contractId=4000000000000000003&currency=MXN&categoryId=11156

POSTGRES_USER=name
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name